<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
{% if user.is_authenticated %}
<p> logged as {{ user.username }}</p>
<form action="{% url 'logout_user'  %}", method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<a href="{% url 'login_user' %}">login</a>
<a href="{% url 'signupuser' %}">signup</a>
{% endif %}
<a href="{% url 'completed_todos' %}">Completed</a>
<br>
<br>
{% block content %}{% endblock %}
</body>
</html>