<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current todos</title>
</head>
<body>
{% extends 'ToDoApp\base.html' %}
{% block content%}
CurrentTodos
<br>
<ul>
    {% for todo in todos%}
    <a href="{% url 'view_todo' todo.id %}">
        <li>
            {% if todo.important %}<b style="color:red">{% endif %}
            {{todo.title}}
            {% if todo.date_completion %} - {{ todo.date_completion }}{% endif %}
            {% if todo.important %}</b>{% endif %}
        </li>
    </a>

    {% endfor %}
</ul>
{% endblock %}
</body>
</html>