<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current todo</title>
</head>
<body>
{% extends 'ToDoApp\base.html' %}
{% block content%}
<h1>{{error}}</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>

<form method="POST" action="{% url 'complete_todo' todo_id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>
<form method="POST" action="{% url 'delete_todo' todo_id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endblock %}
</body>
</html>